.App_parent 
{
  height: 100%;
  width: 100vw;
  text-align: center;
}

.Title_parent
{
  height: 20vh;
  width: 100vw;
  background: green;
  display: flex;
}

.Title_parent img
{
  height: 20vh;
  width: 20vw;
}

.Title
{
  margin: auto;
  font-size: 80px;
}

.Answer_display
{
  font-size: 42px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

