.App_parent 
{
  height: 100%;
  width: 100vw;
  text-align: center;
}

/* header
{
  height: 10vh;
  width: 100vw;
} */
/* .body
{
  height: 100%;
  width: 100vw;
  background-color: lightblue;
} */

/* footer
{
  position: fixed;
  bottom: 0px;
  height: 10vh;
  width: 100vw;
} */

.Title_parent
{
  /* height: 20vh; */
  width: 100vw;
  background: green;
  display: flex;
}

.Title_parent img
{
  height: 20vh;
  width: 20vw;
}

.Title
{
  margin: auto;
  font-size: 80px;
}

.Question_input
{
  display: flex;
}

.Answer_display
{
  font-size: 42px;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Answers_List
{
  font-size: 24px;
}

/* .Response_list_parent
{
  display: flex;
} */

.Response_list
{
  padding: 10px;
  margin: 10px 0px;
  justify-content: space-between;
}

.Edit_buttons
{
  float: left;
}

.Delete_buttons
{
  float: right;
}



