.App_parent 
{
  height: 100%;
  width: 100vw;
  text-align: center;
}
.fixTitle
{
  min-height: 10vh;
  min-width: 15vw;
  background-color: darkgray;
}
.Title
{
  font-family: 'Chicle', cursive;
}
.body
{
  /* height: 100%;
  width: 100vw; */
  flex-grow: 1;
  background-image: url('./images/question-marks.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.Response_list_parent
{
  text-shadow: 5px 5px 10px black;
}

.Title_parent
{
  height: 20vh;
  width: 100vw;
  background: darkgray;
  display: flex;
}

.Title_parent img
{
  height: 100%;
  width: 15vw;
  border-radius: 0px 10px 10px 0px;
}

h3
{
  text-shadow: 5px 5px 5px black;
}

.Title
{
  margin: auto;
  /* position: relative; */
  font-size: 150px;
  text-shadow: 5px 5px 5px white;
}

.Question_input
{
  display: flex;
}

.Answer_display
{
  font-size: 42px;
  justify-content: space-between;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.Answers_List
{
  font-size: 24px;
}

/* .Response_list_parent
{
  display: flex;
} */

.Response_list
{
  padding: 10px;
  margin: 10px 0px;
  justify-content: space-between;
}

.Edit_buttons
{
  float: left;
}

.Delete_buttons
{
  float: right;
}

input
{
  margin: 20px;
  width: 250px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px black;
}

button
{
  margin: 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px black;
}
